@font-face {
  font-family: "iconfont"; /* Project id 4309610 */
  src: url('iconfont.woff2?t=1698890070951') format('woff2'),
       url('iconfont.woff?t=1698890070951') format('woff'),
       url('iconfont.ttf?t=1698890070951') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-027_kecheng:before {
  content: "\e693";
}

.icon-a-027_shangwang:before {
  content: "\e694";
}

.icon-a-027_biancheng:before {
  content: "\e696";
}

.icon-ico:before {
  content: "\e646";
}

