@font-face {
  font-family: "iconfont"; /* Project id 4309610 */
  src: url('iconfont.woff2?t=1699596049082') format('woff2'),
       url('iconfont.woff?t=1699596049082') format('woff'),
       url('iconfont.ttf?t=1699596049082') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqing:before {
  content: "\e600";
}

.icon-icon:before {
  content: "\e695";
}

.icon-shipin:before {
  content: "\e6bb";
}

.icon-didian_xianxing:before {
  content: "\e69c";
}

.icon-huati:before {
  content: "\e61d";
}

.icon-bofang:before {
  content: "\e63a";
}

.icon-zanting:before {
  content: "\e63b";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-tingzhi:before {
  content: "\e63d";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-dakai:before {
  content: "\e63f";
}

.icon-a-027_kecheng:before {
  content: "\e693";
}

.icon-a-027_shangwang:before {
  content: "\e694";
}

.icon-a-027_biancheng:before {
  content: "\e696";
}

.icon-ico:before {
  content: "\e646";
}

